// Define variables for your color scheme

// For example:

$red: #ba3032;
$blue: #387c95;
$orange: #E67E22;
$green: #1EDD88;
$dark-green: #3fae7c;
$yellow: #FFE367;
$gray: #0E0000;
$white: #FAFAFA;
$black: #121212;
$background: white;

$very-light-gray: #f5f5f5;
$light-gray: #e8e8e8;
$mid-gray: #AFADAD;
$dark-gray: #555555;

$very-light-beige: #f0eeea;
$light-beige: #f1eade;
$mid-beige: #dbc495;
$dark-beige: #c1a56f;

$light-purple: #b77ac5;
$mid-purple: #8c0fa8;
$dark-purple: #4c0b5f;

$light-blue: #75b9d5;
$mid-blue: #2295c6;
$dark-blue: #387c95;