// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;

$orange: #E67E22;
$green: #6E7A0F;
$gray: #0E0000;

$white: #FAFAFA;
$light-grey: #6E7A0F;
$mid-grey: #AFADAD;
$black: #121212;
$dark-grey: #565656;
$background: #FFF7DB;
$yellow: #FFE367;
$light-purple: #E8E1FF;
$maincolor: #6E7A0F
