<div><%= render "tabs" %></div>
<main class="profile-container">
  <section class="profile-content">
    <%= render "experiences/form", experience: @experience %>
  </section>
</main>

<div>
<%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid" %>
</div>
