<div>
  <h1>My dashboard</h1>
  <%# Hello <%#= current_user.username %>
  <h2>En route vers le temps partiel </h2>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Mes recherches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Favoris</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Mon profil</a>
  </li>
</ul>
