<form action="", method="POST">
  <label for="objet"></label>
  <input type="text" name="objet_value" id="objet">
  <label for="message"></label>
  <input type="text" name="message_value" id="message">
</form>
