<h1>Bienvenue</h1>
<p>Veuillez cliquer sur le bouton de votre choix !</p>

<%= link_to "Je cherche à partager mon job", new_search_path, class: "btn btn-secondary" %>
<%= link_to "Je cherche à rejoindre quelqu'un sur son poste", new_search_path, class: "btn btn-secondary" %>


<% if user_signed_in? %>
  <%#= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete } %>
  <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-primary"  %>
<% else %>

<% end %>
