main {
  display: flex;
  width: 100%;
  justify-content:center;
}

.cards {
  display: flex;
  width: 960px;
  height: 165px;
  background-color: $light-purple;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: $black;
}
