.container-questions {
  margin: 36px;
  padding: 24px;
  border: 1px solid $dark-gray-primary;
  box-shadow: 6px 6px 0px 0px;
  max-width: 50%;
}

.container-profile-exp {
  margin: 36px;
  padding: 24px;
  border: 1px solid $dark-gray-primary;
  box-shadow: 6px 6px 0px 0px;
  width : 550px;
}
