.container-experience {
  margin: 36px;
  padding: 24px;
  border: 1px solid $dark-gray-primary;
  box-shadow: 6px 6px 0px 0px;
}

.exp {
  margin: 36px;
  padding: 24px;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $very-light-gray;
  box-shadow: 3px 3px 2px 1px;
}
