h1, h3 {
  color: $dark-gray-primary;
  margin: 0px;
}

h1 {
  letter-spacing: -1.5px;
  font-size: -webkit-xxx-large;
  font-weight: 600;
  text-shadow: -1px 1px 2px $light-shadow-primary;
}

h3 {
  font-size: 18px;
}

h2 {
  text-shadow: -1px 1px 2px $light-shadow-primary;
}

i {
  color: $gray-secondary;
  font-size: 24px;
  font-weight: 300;
  text-shadow: -1px 1px 2px $light-shadow-secondary;
  transform: scale(0.7);
}

p {
  margin: 0;
  font-size: 1rem;
}
