.home-background {
  background: linear-gradient($light-beige, $very-light-beige);
}

.home-left-spacing {
  padding: 24px;
  padding: 24px;
}

.card-home {
  border-radius: 16px;
  background-color: $very-light-blue;
  padding: 40px;
  margin: 40px;
}

.mini-card-home {
  padding: 40px;
  margin: 40px;
  width: 400px;
  text-align: center;
}
