
.matching-profiles-with-title {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.matching-profiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: baseline;
}

.profile-card {
  background-color: white;
  // max-width: 15rem;
  // max-height: 20rem;
  border-radius: 4px;
  height: 100%;
  // box-shadow: 0 4px 6px $box-shadow-primary;
  //box-shadow: 4px 4px 0px 0px $mid-shadow-primary;
  box-shadow: 0px 4px 10px $light-shadow-secondary;
  transition: transform 0.2s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

// .header-profile-card {
//   height: 1.5rem;
//   background-color: $gray-secondary;
//   border-radius: 10px 10px 2px 2px;
//   max-width: 20rem;
// }

.content-profile {
  padding-inline: 1.5rem;
  padding-block: 1.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-subcard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;
}

.name-and-mail {
  width: 100%;
}


.profile-info {
  display : flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.profile-name {
  // display: flex;
  color: $gray-primary;
  font-weight: 600;
  width: 100%;
  align-items: start;
}

.profile-email {
  display: flex;
  align-items: center;
  color: silver;
  width: 150px;
  font-size: 14px;
}

.mail-and-pic {
  display: flex;
  gap: 8px;
}

.profile-icons-box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.profile-icons-box button {
  border: none;
  background-color: transparent;
  text-shadow: -1px 2px 4px $light-shadow-secondary;
  padding: 0;
  scale: 1.5;
}

.profile-icons-box button:hover {
  text-shadow: -1px 2px 1px $light-shadow-secondary;
  scale: 1.6;
}

.favorite-profiles {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.separator {
  height: 2px;
  width: 98%;
  margin-bottom: 0.8rem;
  margin-top: 0.6rem;
  margin-inline: auto;
  background-color: $gray-primary;
}

.profile-experiences {
  max-height: 100%;
  flex-grow: 1;
}

.experience-section {
  height: 100%;
  background-color: $background-white;
  color: $black-secondary;
  // border-radius: 8px;
  padding: 0.8rem;
  box-shadow: 0px 4px 10px $light-shadow-primary;
  //box-shadow: 0 2px 4px $box-shadow-primary;
  // box-shadow: 6px 6px 0px 0px $gray-secondary;
  // display: grid;
  // grid-template-rows: repeat(3, 1.3rem);
  // grid-gap: 0.4rem;
  max-height: 100%;
}

.experience-item {
  display: flex;
  gap: 0.2rem;
  // overflow: hidden;
}

// .experience-item p {
  // text-overflow: ellipsis;
// }

.no-results {
  text-align: center;
  color: $title-blue;
  font-size: 1.2rem;
  padding: 2rem;
}
.modal-dialog {
  max-width: 600px;
  width: 90%;
}
