.search-title {
  color: $dark-blue;
  margin-bottom: 2rem;
  font-weight: 600;
}

.matching-profiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
  padding-top: 0px;
}

.profile-card {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: $white-primary;
  max-width: 400px;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px $box-shadow-primary, 0 1px 3px $light-shadow-primary;
  transition: transform 0.2s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.profile-subcard-with-photo {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.profile-subcard-with-photo img {
  border-radius: 50%;
  object-fit: cover;
  width: 64px;
  height: 64px;
  margin-top: 10px;
  margin-right: 10px;
}

.profile-name {
  display: flex;
  color: $title-blue;
  margin-bottom: 0.5rem;
  width: 150px;
  height: 45px;
  align-items: start;
}

.profile-email {
  display: flex;
  align-items: center;
  color: silver;
  margin-bottom: 1.5rem;
  width: 150px;
  font-size: 14px;
}

.profile-experiences {
  border-top: 2px solid $title-blue;
}

.experience-item {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.experience-item p {
  margin: 0.5rem 0;
  color: #4a5568;
}

.experience-item i {
  color: darkkhaki;
  margin-right: 0.5rem;
}

.no-results {
  text-align: center;
  color: $title-blue;
  font-size: 1.2rem;
  padding: 2rem;
}

.favorite-profiles {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: white;
  max-width: 400px;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}
