.tabs-background {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.tabs-titles {
  color: $dark-gray-primary;
  margin-bottom: 16px;
}

.tabs-sub-titles {
  margin-bottom: 24px;
}

